@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";

.hidden {
  display: none;
}

body img {
  position: fixed;
  top: 0;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
}
#clock {
  font-size: 150px;
  color: white;
  font-weight: 600;
}
#greeting {
  font-size: 50px;
  color: white;
  font-weight: 600;
}
#login-form input {
  border: none;
  background: none;
  font-size: 50px;
  width: 100vw;
}
#login-form input::placeholder {
  color: white;
  text-align: center;
}

#login-form input:focus {
  color: white;
  text-align: center;
}

#todo-form input {
  border: none;
  background: none;
  font-size: 20px;
  width: 100vw;
}

#todo-form input::placeholder {
  color: white;
  text-align: center;
}

#todo-form input:focus {
  color: white;
  text-align: center;
}

#todo-list {
  position: fixed;
  top: 70vh;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100vw;
}

#quote {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  bottom: 0;
  color: white;
  text-align: center;
  width: 100vw;
}

#quote span {
  display: flex;
}

#weather {
  position: fixed;
  color: white;
  width: 100vw;
  top: 0;
  text-align: right;
}
